.advise {
  margin-top: 140px;
  &-heading {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  &-desc {
    margin-top: 40px;
    color: $black;
    line-height: 1.5;
    font-size: 23px;
    text-align: center;
    font-weight: 500;
  }
  &-content {
    margin-top: 40px;
    text-align: justify;
  }
  &-content-bold {
    font-weight: 600;
  }
}

.second {
}
.three {
}
.four {
  margin-bottom: 115px;
}
