@mixin btn-all($background: background-color, $color: color) {
  border: none;
  width: 120px;
  display: flex;
  height: 41px;
  background-color: $background;
  color: $color;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
}
